<footer class="page-footer center-on-small-only intro-1 mt-5">
    <div class="container-fluid pr-0 pl-0">
        <div class="call-to-action">
            <h3 class="mb-5">Gateway Technolabs</h3>
            <ul>
                <li>
                    <button type="button" data-toggle="modal" data-target="#login"class="btn btn-primary btn-rounded wow fadeInLeft">
                        Login
                    </button>
                    <button type="button" data-toggle="modal" data-target="#register"class="btn btn-danger btn-rounded wow fadeInRight">
                        Register
                    </button>
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2018 Gateway Technolabs
            </div>
        </div>
    </div>
</footer>