<form>
    <div class="card-body mx-4">
      <div class="text-center">
        <h3 class="dark-grey-text mb-5"><strong>Login</strong></h3>
      </div>
      <div class="md-form">
        <input type="text" id="LoginForm-email1" class="form-control">
        <label for="LoginForm-email1">Username/Email</label>
      </div>
      <div class="md-form">
        <input type="password" id="LoginForm-pass1" class="form-control">
        <label for="LoginForm-pass1">Password</label>
        <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1"> Password?</a></p>
      </div>
      <div>
        <button type="button" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-danger"  data-toggle="modal" data-dismiss="modal" data-target="#register">Not A Customer</button>
      </div>
    </div>
</form>             