<main class="full-width-site-container">
  <nav class="subnav">
    <a href="/Services#">Back to Top</a>
    <a href="/Services#major-providers">Major Providers</a>
    <a href="/Services#static-hosting">Static Hosting</a>
    <a href="/Services#forms">Web Forms</a>
    <a href="/Services#payments">Payments</a>
    <a href="/Services#media-storage">Media Storage</a>
    <a href="/Services#email-sms">Email, SMS, & Notifications</a>
    <a href="/Services#cms">CMS's & Data Storage</a>
    <a href="/Services#real-time">Real Time</a>
    <a href="/Services#auth">Auth</a>
  </nav>
  <header class="section-header" id="major-providers">
    <h2>
      The Major Providers 
    </h2>
    <p>Need to calculate costs? Try the <a href="http://serverlesscalc.com/">Serverless Cost Calculator</a>.</p>
  </header>
  <div class="card-grid">
    <div class="tool">
      <a href="https://firebase.google.com/" class="image-wrap-link">
        <img src="../../../assets/img/FIREBASE.PNG" alt="Google Firebase Logo">
      </a>
      <div class="tool-about">
          <h3>
            <a href="https://firebase.google.com/">
              Google Firebase
            </a>
          </h3>
          <div class="capabilities">
            <h4>Relevant Capabilities</h4>
            <span data-capability="Auth">Auth</span>
            <span data-capability="Realtime Database">Realtime Database</span>
            <span data-capability="Media Storage">Media Storage</span>
            <span data-capability="Cloud Functions">Cloud Functions</span>
          </div>
          <div class="overview">
            <h4>Quick Overview</h4>
            <p>Google Firebase is very powerful while being very easy to use. For example, you can run cloud functions, but you don't even need to for most data storage and retrieval or auth. It might be expensive to scale on though.</p>
          </div>
      </div>
    </div>
    <div class="tool">
      <a href="https://cloud.google.com/" class="image-wrap-link">
        <img src="../../../assets/img/GOOGLE_C.PNG" alt="Google Cloud Platform Logo">
      </a>
      <div class="tool-about">
        <h3><a href="https://cloud.google.com/">Google Cloud Platform</a></h3>
        <div class="capabilities">
          <h4>Relevant Capabilities</h4>
          <span data-capability="Everything">Everything</span>
        </div>
        <div class="overview">
          <h4>Quick Overview</h4>
          <p>More of a major infastructure provider in vein of Amazon Web Services than a toolkit for building out an app like Firebase is.</p>
        </div>
      </div>
    </div>
    <div class="tool">
      <a href="https://aws.amazon.com/" class="image-wrap-link">
        <img src="../../../assets/img/AWS.PNG" alt="Amazon Web Services Logo">
      </a>
      <div class="tool-about">
        <h3><a href="https://aws.amazon.com/">Amazon Web Services</a>
        </h3>
        <div class="capabilities">
          <h4>Relevant Capabilities</h4>
          <span data-capability="Everything">Everything</span>
        </div>
        <div class="overview">
          <h4>Quick Overview</h4>
          <p>Lambda, S3, and Cognito (auth) are probably the most relevant things to front-end developers. <a href="https://hackernoon.com/aws-appsync-up-and-running-560a42d96ba7">AppSync</a> is a bit like Firebase.</p>
        </div>
      </div>
    </div>
    <div class="tool">
      <a href="https://azure.microsoft.com/" class="image-wrap-link">
        <img src="../../../assets/img/MICROSOF.PNG" alt="Microsoft Azure Logo">
      </a>
      <div class="tool-about">
        <h3>
          <a href="https://azure.microsoft.com/">
            Microsoft Azure
          </a>
        </h3>
        <div class="capabilities">
          <h4>Relevant Capabilities</h4>
          
          <span data-capability="Everything">
            Everything
          </span>
          
        </div>
        <div class="overview">
          <h4>Quick Overview</h4>
          <p>A major infastructre provider with solutions for about just everything, and generally consider the cheapest. For working with cloud functions, there is an online editor, but it also allows GitHub sync and <a href="https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions">integrates directly with VS Code</a>. Data storage is through Cosmos DB.</p>
        </div>
      </div>
    </div>
    <div class="tool">
      <a href="https://webtask.io/" class="image-wrap-link">
        <img src="../../../assets/img/WEBTASK.PNG" alt="Webtask Logo">
      </a>
      <div class="tool-about">
        <h3>
          <a href="https://webtask.io/">
            Webtask
          </a>
        </h3>
        <div class="capabilities">
          <h4>Relevant Capabilities</h4>
          
          <span data-capability="Cloud Functions">
            Cloud Functions
          </span>
          
          <span data-capability="Basic JSON data store">
            Basic JSON data store
          </span>
          
        </div>
        <div class="overview">
          <h4>Quick Overview</h4>
          <p>An in-browser editor for creating and testing cloud functions. Seems like the nicest experience for this particular job. It's kinda of an elaborate demonstration of <a href="https://auth0.com/extend/">Auth0 Extend</a>, which is essentially a way to take Webtask and put it in your own app.</p>
        </div>
      </div>
    </div>
    <div class="tool">
      <a href="https://console.bluemix.net/openwhisk/" class="image-wrap-link">
        <img src="../../../assets/img/IBM_CLOU.PNG" alt="IBM Cloud Functions Logo">
      </a>
      <div class="tool-about">
        <h3>
          <a href="https://console.bluemix.net/openwhisk/">
            IBM Cloud Functions
          </a>
        </h3>
        <div class="capabilities">
          <h4>Relevant Capabilities</h4>
          
          <span data-capability="Cloud Functions">
            Cloud Functions
          </span>
          
        </div>
        <div class="overview">
          <h4>Quick Overview</h4>
          <p>Based on <a href="https://openwhisk.apache.org/">Apache OpenWhisk</a>.</p>
        </div>
      </div>
    </div>
    <div class="tool">
      <a href="https://backendless.com/" class="image-wrap-link">
        <img src="../../../assets/img/BACKENDL.PNG" alt="Backendless Logo">
      </a>
      <div class="tool-about">
        <h3>
          <a href="https://backendless.com/">
            Backendless
          </a>
        </h3>
        <div class="capabilities">
          <h4>Relevant Capabilities</h4>
          
          <span data-capability="Realtime Database">
            Realtime Database
          </span>
          
          <span data-capability="Auth">
            Auth
          </span>
          
        </div>
        <div class="overview">
          <h4>Quick Overview</h4>
          <p>All-in-one kind of service similar to Firebase, including the realtime database. Has a PRO version you can host yourself, if you're, ya know, into running servers.</p>
        </div>
      </div>
    </div>
    <div class="idea">
      <p>There is a bunch more like <a href="https://www.kinvey.com/">Kinvey</a>, <a href="https://syncano.io/#/">Syncano</a>, <a href="http://hood.ie/">Hoodie</a>, <a href="https://paraio.com/">Para</a>, <a href="https://stamplay.com/">Stamplay</a>, and <a href="https://dadi.cloud/en/">Dadi</a>. They are all different of course, from how Hoodie is aiming to be offline data storage, to how you'll pay for Dadi's decentralized services with it's own crypto currency.</p>
      <p>Juan Anibal Micheli maintains <a href="https://github.com/anaibol/awesome-serverless">Awesome Serverless</a>, another (pretty massive) list of services and resources).</p>
    </div>
  </div>
  
  <header class="section-header" id="static-hosting">
    <h2>
      Static File Hosting
    </h2>
    <p>Any host can serve up static assets. These hosts specialize in it.</p>
  </header>
  
  <div class="card-grid">
    

<div class="tool">
  <a href="https://codepen.io/pro/projects/" class="image-wrap-link">
    <img src="../../../assets/img/CODEPEN.PNG" alt="CodePen Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://codepen.io/pro/projects/">
        CodePen
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Hosting">
        Hosting
      </span>
      
      <span data-capability="Code Editor">
        Code Editor
      </span>
      
      <span data-capability="File Storage">
        File Storage
      </span>
      
      <span data-capability="Preprocessing">
        Preprocessing
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>The one and only. Pens are great for quick demos with bits of HTML, CSS, and JavaScript. CodePen Projects gives you a complete file system of your own. That is where this site <a href="https://codepen.io/chriscoyier/project/editor/ZepgLg">is built.</a></p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.netlify.com/" class="image-wrap-link">
    <img src="../../../assets/img/NETLIFY.PNG" alt="Netlify Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.netlify.com/">
        Netlify
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Hosting + CDN">
        Hosting + CDN
      </span>
      
      <span data-capability="Cloud Functions">
        Cloud Functions
      </span>
      
      <span data-capability="Git">
        Git
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Netlify offers essentially very fancy static file hosting. They have many bonus features like form handling and a CLI.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://pages.github.com/" class="image-wrap-link">
    <img src="../../../assets/img/GITHUB.PNG" alt="GitHub Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://pages.github.com/">
        GitHub Pages
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Hosting">
        Hosting
      </span>
      
      <span data-capability="Git">
        Git
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Any repo can become a website.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://aws.amazon.com/s3/" class="image-wrap-link">
    <img src="../../../assets/img/AWS.PNG" alt="AWS Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://aws.amazon.com/s3/">
        Amazon S3
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Hosting">
        Hosting
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>S3 is normally mostly used for media files, but you can <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html">use a bucket as a website.</a> Take a look at <a href="https://up.docs.apex.sh/">Up</a> to help with deploying serverless apps to it.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://zeit.co/" class="image-wrap-link">
    <img src="../../../assets/img/ZEIT.PNG" alt="Zeit Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://zeit.co/">
        Zeit
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Hosting">
        Hosting
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>A command-line based deployment tool for any framework.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://surge.sh/" class="image-wrap-link">
    <img src="../../../assets/img/SURGE.PNG" alt="Surge Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://surge.sh/">
        Surge
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Hosting">
        Hosting
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>A command-line based deployment tool for any framework.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.aerobatic.com/" class="image-wrap-link">
    <img src="../../../assets/img/AEROBATI.PNG" alt="Aerobatic Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.aerobatic.com/">
        Aerobatic
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Hosting">
        Hosting
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Built for static sites, but extensible through "plugins" for stuff like redirects and form submissions.</p>
    </div>
  </div>
</div>


  </div>
  
  
  <header class="section-header" id="forms">
    <h2>
      Forms
    </h2>
    <p>Form builder apps tend to work one of two ways. Either they host the form and you embed with an iframe, or you host the form and point the submission to&nbsp;them.</p>
  </header>
  
  <div class="card-grid">
    

<div class="tool">
  <a href="https://www.google.com/forms/about/" class="image-wrap-link">
    <img src="../../../assets/img/GOOGLE_F.PNG" alt="Google Forms Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.google.com/forms/about/">
        Google Forms
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Forms">
        Forms
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Free.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.wufoo.com/" class="image-wrap-link">
    <img src="../../../assets/img/WUFOO.PNG" alt="Wufoo Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.wufoo.com/">
        Wufoo
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Forms">
        Forms
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Secure forms. API access to data. Reporting. Logic & Branching. Integrations.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.typeform.com/" class="image-wrap-link">
    <img src="../../../assets/img/TYPEFORM.PNG" alt="Typeform Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.typeform.com/">
        Typeform
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Forms">
        Forms
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Forms with a novel UI/UX where each question is essentially a full page view that slides by.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.formstack.com/" class="image-wrap-link">
    <img src="../../../assets/img/FORMSTAC.PNG" alt="Formstack Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.formstack.com/">
        Formstack
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Forms">
        Forms
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Payments. Integrations.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://pageclip.co/" class="image-wrap-link">
    <img src="../../../assets/img/PAGECLIP.PNG" alt="Pageclip Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://pageclip.co/">
        Pageclip
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Forms">
        Forms
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Point the `action` attribute at a pageclip URL and it saves all the data for you. It can trigger an email notification, or makes the data available as JSON or CSV.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://formcarry.com/" class="image-wrap-link">
    <img src="../../../assets/img/FORMCARR.PNG" alt="Formcarry Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://formcarry.com/">
        Formcarry.
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Forms">
        Forms
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Point the `action` attribute at Formcarry and it'll handle the form processing for you. Notably, it has integrations with services like Zapier, Salesforce, Intercom, and Slack. It also has Webhooks to notify other services (which is nice for serverless architechtures).</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://formkeep.com/" class="image-wrap-link">
    <img src="../../../assets/img/FORMKEEP.PNG" alt="Formkeep Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://formkeep.com/">
        Formkeep
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Forms">
        Forms
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Point the `action` attribute at Formkeep and it'll handle the form processing for you. Integrates with services like Zapier, MailChimp, Slack, and Trello. Notable features include spam filtering and auto responders.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://formspree.io/" class="image-wrap-link">
    <img src="../../../assets/img/FORMSPRE.PNG" alt="Formspree Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://formspree.io/">
        Formspree
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Forms">
        Forms
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>You point `action` attribute like many of the other services, but the hook here is that you use your own email address in the URL, so you don't even ahve to register.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.jotform.com/" class="image-wrap-link">
    <img src="../../../assets/img/JOTFORM.PNG" alt="Jotform Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.jotform.com/">
        Jotform
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Forms">
        Forms
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Has a drag and drop form builder.</p>
    </div>
  </div>
</div>


  </div>
  
  
  <header class="section-header" id="payments">
    <h2>
      Payments
    </h2>
    <p>Processing payments is sensitive stuff, but modern providers largely abstract that difficulty away.</p>
  </header>
  
  <div class="card-grid">
    

<div class="tool">
  <a href="https://stripe.com/checkout" class="image-wrap-link">
    <img src="../../../assets/img/STRIPE.PNG" alt="Stripe Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://stripe.com/checkout">
        Stripe
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Payments">
        Payments
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Probably the most beloved payment service out there. There are payment services built on top of Stripe to make it easier, like <a href="https://plasso.com/">Plasso</a>.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/buy_now_step_1/" class="image-wrap-link">
    <img src="../../../assets/img/PAYPAL.PNG" alt="PayPal Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/buy_now_step_1/">
        PayPal
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Payments">
        Payments
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>The most relevant PayPal service is probably their Buy Now buttons, which send buyers to PayPal to check out, and then back to the website.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.braintreepayments.com/" class="image-wrap-link">
    <img src="../../../assets/img/BRAINTRE.PNG" alt="Braintree Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.braintreepayments.com/">
        Braintree
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Payments">
        Payments
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Braintree is owned by PayPal, so it is the one other payment service that can take PayPal. The appeal of Braintree is that it makes taking multiple forms of payments (e.g. credit cards <em>and</em> PayPal <em>and</em> Apple Pay, for example) much easier, and through just one set of APIs.</p>
    </div>
  </div>
</div>



<div class="idea">
  <p>There are lots of other services that integate with these. For example, you could use a service like <a href="https://ti.to/">Tito</a> to manage an event which takes payments ultimate through Stripe or PayPal. <a href="https://plasso.com/">Plasso</a> or <a href="https://www.moonclerk.com/"></a> for recurring payments and memberships. Or <a href="https://gumroad.com/">Gumroad</a> for selling digital products. </p>
</div>
  </div>
  
  
  <header class="section-header" id="media-storage">
    <h2>
      Media Storage
    </h2>
    <p>Honestly these services are pretty useful whether your website is using Serverless tech or not, but particularly useful when it is.</p>
  </header>
  
  <div class="card-grid">
    

<div class="tool">
  <a href="https://cloudinary.com/" class="image-wrap-link">
    <img src="../../../assets/img/CLOUDINA.PNG" alt="Cloudinary">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://cloudinary.com/">
        Cloudinary
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="./assets/IMAGES">
        ./assets/IMAGES
      </span>
      
      <span data-capability="Video">
        Video
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Cloudinary does fancy image/video stuff like manipulation and optimization, but will also directly host for you, making it a good Serverless fit.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://aws.amazon.com/s3/" class="image-wrap-link">
    <img src="../../../assets/img/AWS.PNG" alt="AWS Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://aws.amazon.com/s3/">
        Amazon S3
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="File storage">
        File storage
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>The classic file store.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.filestack.com/" class="image-wrap-link">
    <img src="../../../assets/img/FILESTAC.PNG" alt="Filestack logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.filestack.com/">
        Filestack
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="File storage">
        File storage
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Offers an all-JavaScript file picker that integrates with other serices. The host the uploaded files.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://kloudless.com/" class="image-wrap-link">
    <img src="../../../assets/img/KLOUDLES.PNG" alt="Kloudless logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://kloudless.com/">
        Kloudless
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="File storage">
        File storage
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Integrates multiple file storage solutions with one API.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://uploadcare.com/" class="image-wrap-link">
    <img src="../../../assets/img/UPLOADCA.PNG" alt="Uploadcare logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://uploadcare.com/">
        Uploadcare
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="File storage">
        File storage
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Full featured file uploader and file storage.</p>
    </div>
  </div>
</div>


  </div>
  
  
  <header class="section-header" id="email-sms">
    <h2>
      Email / SMS / Notifications
    </h2>
  </header>
  
  <div class="card-grid">
    

<div class="tool">
  <a href="https://www.twilio.com/" class="image-wrap-link">
    <img src="../../../assets/img/TWILIO.PNG" alt="Twilio Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.twilio.com/">
        Twilio
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="SMS">
        SMS
      </span>
      
      <span data-capability="Voice">
        Voice
      </span>
      
      <span data-capability="Push Notificaitons">
        Push Notificaitons
      </span>
      
      <span data-capability="WebRTC">
        WebRTC
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Twilio offers powerful APIs for text messaging, voice, and video.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.sparkpost.com/" class="image-wrap-link">
    <img src="../../../assets/img/SPARKPOS.PNG" alt="Sparkpost Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.sparkpost.com/">
        Sparkpost
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Email">
        Email
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Email sending service with analytics.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://sendgrid.com/" class="image-wrap-link">
    <img src="../../../assets/img/SENDGRID.PNG" alt="Sendgrid Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://sendgrid.com/">
        Sendgrid
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Email">
        Email
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Email sending service. Has an email builder tool as well.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.mailgun.com/" class="image-wrap-link">
    <img src="../../../assets/img/MAILGUN.PNG" alt="Mailgun Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.mailgun.com/">
        Mailgun
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Email">
        Email
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Email sending service.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="http://www.emailjs.com/" class="image-wrap-link">
    <img src="../../../assets/img/EMAILJS.PNG" alt="EmailJS Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="http://www.emailjs.com/">
        EmailJS
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Email">
        Email
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>No server side code required at all.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://onesignal.com/" class="image-wrap-link">
    <img src="../../../assets/img/ONESIGNA.PNG" alt="OneSignal Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://onesignal.com/">
        OneSignal
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Push Notifications">
        Push Notifications
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>For sending Android, iOS, and Web push notifications.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://popcornnotify.com/" class="image-wrap-link">
    <img src="../../../assets/img/POPCORNN.PNG" alt="PopcornNotify Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://popcornnotify.com/">
        PopcornNotify
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="SMS">
        SMS
      </span>
      
      <span data-capability="Email">
        Email
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Email and text messages with one JavaScript API.</p>
    </div>
  </div>
</div>


  </div>
  
  
  <header class="section-header" id="cms">
    <h2>
      CMS's
    </h2>
    <p>You'd probably refer to these as "Managed Headless CMSs" in that they abstract both auth and database and UI for managing content away into a service and you access the content via API.</p>
  </header>
  
  <div class="card-grid">
    

<div class="tool">
  <a href="https://www.contentful.com/" class="image-wrap-link">
    <img src="../../../assets/img/CONTENTF.PNG" alt="Contentful Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.contentful.com/">
        Contentful
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="CMS">
        CMS
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>A UI (and API) for managing/creating content, and APIs/SDKs for getting it out.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://buttercms.com/" class="image-wrap-link">
    <img src="../../../assets/img/BUTTERCM.PNG" alt="Butter CMS Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://buttercms.com/">
        Butter CMS
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="CMS">
        CMS
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>A UI (and API) for managing/creating content, and APIs/SDKs for getting it out.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://prismic.io/" class="image-wrap-link">
    <img src="../../../assets/img/PRISMIC.PNG" alt="Prismic Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://prismic.io/">
        Prismic
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="CMS">
        CMS
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>A UI (and API) for managing/creating content, and APIs/SDKs for getting it out.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://www.netlifycms.org/" class="image-wrap-link">
    <img src="../../../assets/img/NETLIFY.PNG" alt="Netlify Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.netlifycms.org/">
        Netlify CMS
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Hosting + CDN">
        Hosting + CDN
      </span>
      
      <span data-capability="CMS">
        CMS
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>This is a React SPA that works with any static site generator.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://statamic.com/" class="image-wrap-link">
    <img src="../../../assets/img/STATAMIC.PNG" alt="Statamic Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://statamic.com/">
        Statamic
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="CMS">
        CMS
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>A visual editor that produces version-controlled flat files.</p>
    </div>
  </div>
</div>



<div class="idea">
  <h2>Static Site Generators</h2>
  <p>There are lots of these out there too, like <a href="https://gohugo.io/">Hugo</a> and <a href="https://jekyllrb.com/">Jekyll</a>. They pair nicely with static hosting. For example, <a href="https://www.netlify.com/">Netlify</a> can run your build commands for these static site as you commit to a Git Repo, or <a href="https://forestry.io/">Forestry</a> can add a UI (while still being Git-backed) on top of them. Other static site generators: <a href="https://www.11ty.io/">11ty</a>, <a href="http://www.metalsmith.io/">Metalsmith</a>, <a href="https://www.gatsbyjs.org/">Gatsby</a>.</p>
</div>

<div class="idea">
  <h2>Data Storage</h2>
  <p>This is covered by all the major providers, but sometimes you need something simpler. <a href="https://webtask.io/">Webtask</a> gives you a small JSON store. <a href="https://airtable.com/">Airtable</a> and <a href="https://fieldbook.com/">Fieldbook</a> are a wonderful spreadsheet/data apps with good JavaScript APIs. Even <a href="https://docs.google.com/spreadsheets/">Google Spreadsheets</a> has APIs, but can be improved with tools like <a href="https://github.com/jsoma/tabletop">Tabletop.js</a>.</p>
</div>
  </div>
  
  
  <header class="section-header">
    <h2>
      Search
    </h2>
  </header>
  
  <div class="card-grid">
    

<div class="tool">
  <a href="https://www.algolia.com/" class="image-wrap-link">
    <img src="../../../assets/img/ALGOLIA.PNG" alt="Algolia Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.algolia.com/">
        Algolia
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Search">
        Search
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Put all your searchable data in Algolia, and you and query and get results through APIs incredibly fast.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://cse.google.com/" class="image-wrap-link">
    <img src="../../../assets/img/GOOGLE.PNG" alt="Google Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://cse.google.com/">
        Google Custom Search Engine
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Search">
        Search
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>You create mini search engines that are scoped by URL and can then embed them onto your own site.</p>
    </div>
  </div>
</div>


  </div>
  
  
  <header class="section-header" id="real-time">
    <h2>
      Real Time
    </h2>
    <p><a href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API">WebSockets</a> are the name of the game, but there are services to help. Imagine things like building your own chat or your own dashboards that update to new data without needing to be refreshed.</p>
  </header>
  
  <div class="card-grid">
    

<div class="tool">
  <a href="https://www.pubnub.com/" class="image-wrap-link">
    <img src="../../../assets/img/PUBNUB.PNG" alt="PubNub Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://www.pubnub.com/">
        PubNub
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Realtime">
        Realtime
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Realtime APIs</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://pusher.com/" class="image-wrap-link">
    <img src="../../../assets/img/PUSHER.PNG" alt="Pusher Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://pusher.com/">
        Pusher
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Realtime">
        Realtime
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Realtime APIs</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://firebase.google.com/" class="image-wrap-link">
    <img src="../../../assets/img/FIREBASE.PNG" alt="Google Firebase Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://firebase.google.com/">
        Google Firebase
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Auth">
        Auth
      </span>
      
      <span data-capability="Realtime Database">
        Realtime Database
      </span>
      
      <span data-capability="Media Storage">
        Media Storage
      </span>
      
      <span data-capability="Cloud Functions">
        Cloud Functions
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>The realtime database is very fast and ready to be used for realtime features. Check out projects like <a href="https://firepad.io/">Firepad</a> which use Firebase to make code editors realtime.</p>
    </div>
  </div>
</div>


  </div>
  
  
  <header class="section-header" id="auth">
    <h2>
      Auth
    </h2>
    <p><a href="https://oauth.net/">OAuth</a> is the name of the game, but there are services to help. For sites that have users or adminstrators that need to log in to do things.</p>
  </header>
  
  <div class="card-grid">
    

<div class="tool">
  <a href="https://auth0.com/" class="image-wrap-link">
    <img src="../../../assets/img/AUTH0.PNG" alt="Auth0 Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://auth0.com/">
        Auth0
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Auth">
        Auth
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Handles your own site's auth system or integrates with loads of other services.</p>
    </div>
  </div>
</div>





<div class="tool">
  <a href="https://developer.okta.com/" class="image-wrap-link">
    <img src="../../../assets/img/OKTA.PNG" alt="Okta Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://developer.okta.com/">
        Okta
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Auth">
        Auth
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>SDKs to handle all auth and user management.</p>
    </div>
  </div>
</div>
<div class="tool">
  <a href="https://firebase.google.com/" class="image-wrap-link">
    <img src="../../../assets/img/FIREBASE.PNG" alt="Google Firebase Logo">
  </a>
  <div class="tool-about">
    <h3>
      <a href="https://firebase.google.com/">
        Google Firebase
      </a>
    </h3>
    <div class="capabilities">
      <h4>Relevant Capabilities</h4>
      
      <span data-capability="Auth">
        Auth
      </span>
      
      <span data-capability="Realtime Database">
        Realtime Database
      </span>
      
      <span data-capability="Media Storage">
        Media Storage
      </span>
      
      <span data-capability="Cloud Functions">
        Cloud Functions
      </span>
      
    </div>
    <div class="overview">
      <h4>Quick Overview</h4>
      <p>Handles auth entirely client-side with no cloud functions or anything required.</p>
    </div>
  </div>
</div>
</div>
</main>