<nav class="site-nav">
  <ul>
    <li class="nav-home wow fadeIn">
      <a [routerLink]="['/Aboutus']">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>cloud</title><g id="cloud"><path id="cloud-2" data-name="cloud" d="M19,10.025V10A7,7,0,0,0,5,10v.025A5.5,5.5,0,0,0,5.5,21h13A5.5,5.5,0,0,0,19,10.025Z"/></g></svg>
        What?
      </a>
    </li>
    <li class="nav-tools">
      <a [routerLink]="['/Services']">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>toolbox</title><g id="toolbox"><path id="toolbox-2" data-name="toolbox" d="M20,17a1,1,0,0,1-2,0V16H6v1a1,1,0,0,1-2,0V16H0v6a2,2,0,0,0,2,2H22a2,2,0,0,0,2-2V16H20ZM22,6H18V3a3,3,0,0,0-3-3H9A3,3,0,0,0,6,3V6H2A2,2,0,0,0,0,8v6H4V13a1,1,0,0,1,2,0v1H18V13a1,1,0,0,1,2,0v1h4V8A2,2,0,0,0,22,6ZM16,6H8V3A1,1,0,0,1,9,2h6a1,1,0,0,1,1,1Z"/></g></svg>
        Products
      </a>
    </li>
    <li class="nav-build">
      <a [routerLink]="['/Idea']" >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>hammer</title><g id="hammer"><path id="hammer-2" data-name="hammer" d="M22,0a2,2,0,0,0-2,2H18a2,2,0,0,0-2-2H5L0,8H16a2,2,0,0,0,2-2h2a2,2,0,0,0,4,0V2A2,2,0,0,0,22,0ZM6,20a4,4,0,0,0,8,0V10H6Z"/></g></svg>
        How We Work
      </a>
    </li>
    <li class="nav-resources">
      <a [routerLink]="['/Contactus']">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>book-code</title><g id="book-code"><path id="book-code-2" data-name="book-code" d="M5,2H22V0H4A4,4,0,0,0,0,4V20a4,4,0,0,0,4,4H22V4H5A1,1,0,0,1,5,2Zm8.879,9.707a1,1,0,1,1,1.414-1.414L19,14l-3.707,3.707a1,1,0,1,1-1.414-1.414L16.172,14ZM8.707,10.293a1,1,0,1,1,1.414,1.414L7.828,14l2.293,2.293a1,1,0,1,1-1.414,1.414L5,14Z"/></g></svg>
        Contact Us
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>