@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: local('Nunito Black'), local('Nunito-Black'), url(../external.html?link=https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAtsGUYevN.ttf) format('truetype');
}
