<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <main class="centered-text-column"> 
                <h1 id="serverless-">About Us</h1>
                <hr>
                <h3><strong>Why Sales CRM ?</strong></h3>
                <p>
                Designed for you Sales CRM provides an easy-to-use CRM interface focused on features that matter and nothing more. Be part of an exceptional customer experience.We love our customers, and they love us. Sales CRM receives the highest Net Promoter Score across all major CRM vendors.
                </p>
                <p>
                    Sales CRM for Sales enables sales people to build strong relationships with their customers, take actions based on insights, and close sales faster. Use Sales CRM for Sales to keep track of your accounts and contacts, nurture your sales from lead to order, create sales collateral, create marketing lists and campaigns, and even follow service cases associated with specific accounts or opportunities.
                </p>
                <h5>
                <strong> Be part of an exceptional customer experience We love our customers, and they love us. Sales CRM receives the highest Net Promoter Score across all major CRM vendors.</strong> 
                </h5>
                <hr>
                <h3><strong>ALL WE DO IS SALES CRM.</strong></h3><h6><strong><small>IT'S IN OUR NAME.</small></strong></h6>
                <p>
                    Sales CRM enables businesses to create extraordinary customer relationships with the most empowering, adaptable and affordable customer relationship management (CRM) solution on the market. We are the industryt deliver a superior customer experience with the same old CRM. You need a new kind of CRM. 
                </p>
                <p>
                    Sales CRM is the solution for CRM heroes, mavericks, innovative, forward-thinking change agents. The brave, the bold, who dare to be different.  Our customers look for new solutions that will give them a competitive edge.  They look at the default choice, and question whether it is the best choice.  They see Sales CRM as the chance to find a better way to grow their business and help their employees do their jobs better. Its the CRM that can enable everyone across your entire organization to become a customer expert and make a difference.
                </p>
                <h5>
                <strong>Recognized by leading market analysts as a CRM visionary and innovator,Sales CRM is deployed by more than 2 million individuals in over 120 countries and 26 languages.</strong> 
                </h5>
            </main>
        </div>
        <div class="col-md-6">
            <br><br>
            <div class="container-fluid">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>
                                    <strong>Lets Understand It With Diagram</strong>
                                </h3>
                            </div>
                            <hr>
                            <div class="panel-body">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-badge"><i class="fa fa-check"></i></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">Information Gathering</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>
                                                        Firstly you need to gather the information that your customers need to be identified by you and their behavior should be categorized. The companies having online customer services and their website can have the advantage over other companies in the market. The customers can fill, update and maintain their own data when they are buying something or inquiring. 
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">Information storage </h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>The relational database is the best-centralized customer database in which the storage and management of your customers information can be done in a most effective way.  
                                                        The relational database will allow you running all of your systems from the same origin.  
                                                        It also ensures that everybody is using up-to-date and accurate information. 
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">Information Access</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Information Access will be the next stage after collecting or gathering the information about the customers and storing it centrally.  
                                                        It is important to make this information available to all the staff members in the most useful format. 
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">Study the behavior of the customer</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>You can begin to profile customers and develop various and important sales strategies by using data mining tools in spreadsheet programs which can analyze the data to identify patterns and relationships.  
                                                        So the analysis of customer behavior is a most important aspect in CRM programs. 
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-badge info"><i class="fa fa-save"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">Intensify the customer experience</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>
                                                        A small number of customers who are having complaints often take up a disproportionate amount of staff time as a small group of customers are the most profitable.  
                                                    </p>
                                                    <p>
                                                        The staff will have more time for other customers if the problem of customers having complaints can be solved quickly. 
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
             </div>
        </div>
    </div>
</div>