<div id ="contactus">
  <!--Section: Features v.1-->
  <br/><br/>
  <div class="divider-new">
      <h2 class="h2-responsive black-text mx-4 font-bold  wow fadeIn">Contact us</h2>
  </div>
  <!--Section: Contact-->
  <section id="contact pb-5">
      <div class="row">
          <!--First column-->
          <div class="col-md-7">
              <div class="container">
                <form class="container">
                    <p class="h4 text-center mb-4">Write to us</p>
                    <div class="md-form black-text">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" id="materialFormContactNameEx" class="form-control">
                        <label for="materialFormContactNameEx">Your name</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="email" id="materialFormContactEmailEx" class="form-control">
                        <label for="materialFormContactEmailEx">Your email</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-tag prefix"></i>
                        <input type="text" id="materialFormContactSubjectEx" class="form-control">
                        <label for="materialFormContactSubjectEx">Subject</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea type="text" id="materialFormContactMessageEx" class="form-control md-textarea" rows="3"></textarea>
                        <label for="materialFormContactMessageEx">Your message</label>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-outline-secondary" type="submit">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
                    </div>
                </form>
            </div>                   
          </div>
          <!--/First column-->
          <!--Second column-->
          <div class="col-md-5">
            <div class="container">
              <ul class="text-center list-unstyled">
                  <li class="wow fadeIn" data-wow-delay="0.2s">
                      <i class="fa fa-map-marker black-text fa-2x"></i>
                      <p>Gateway Technolabs, Corporate House, Bodak Dev, Ahemdabad</p>
                  </li>
                  <li class="wow fadeIn mt-5 pt-2" data-wow-delay="0.3s">
                      <i class="fa fa-phone black-text fa-2x"></i>
                      <p>+91 91xxxx4565</p>
                  </li>
                  <li class="wow fadeIn mt-5 pt-2" data-wow-delay="0.4s">
                      <i class="fa fa-envelope black-text fa-2x"></i>
                      <p>admin@gatewaytechnolabs.com</p>
                  </li>
              </ul>
            </div>
          </div>
          <!--/Second column-->
      </div>
  </section>
  <!--Section: Contact-->
</div>