<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <main class="centered-text-column"> 
                        <h1 id="lead"><strong>You Become We</strong></h1>
                        <hr>
                        <h3>
                            <strong> Lead Management </strong>
                        </h3>
                        <h6>
                            <strong><small>What is Lead</small></strong>
                        </h6>
                        <p>
                            Lead management is the first step of acquiring the customer. Once this step is completed, leads(a list of strong potential buyers with some of their details) is passed on to the Sales department.In this way, lead management process acts as the bridge between two important departments, namely marketing and sales. 
                        </p>
                        <p>
                            Sales CRM for Sales enables sales people to build strong relationships with their customers, take actions based on insightsThis is the process in which your company engages for the very first time and interacts with your buyer at a stage where he is just a potential buyer. This process often becomes challenging when your leads are in the numbers of thousands, lakhs and more. Why will this tool work for your company? Well, for one it will keep your company focused on the tactics that work and bring in the right leads.Further, you can track leads effectively with this tool and you can clinch most of your winning deals.  
                        </p>
                        <h5>
                            <strong> For example, you've launched toothpaste and it's getting very popular among the youths, like the college youths. You can then tailor-make your campaign focusing on the likes of college youths to engage them more effectively.</strong> 
                        </h5>
                        <hr>

                        <h3>
                            <strong>Opportunity Management</strong>
                        </h3>
                        <h6>
                            <strong><small>What is Opportunity </small></strong>
                        </h6>
                        <p>
                            <strong>
                                The tool of Opportunity Management gives you the pearls of opportunities in sales. Pure leads are just basic information and that's meaningless unless it is filtered as per your company requirement.  
                            </strong>
                        </p>
                        <p>
                            This analyzing and filtering job is done by this tool. It judges the leads and puts the qualified ones as an opportunity in the sales pipeline. Would you like to waste your time on meaningless and useless leads? Of course not! That's why this software is for you as your hundreds and thousands and even lakhs of leads are processed and filtered through this sophisticated mechanism so that you can focus on relevant information in a relaxed way. 
                        </p>
                        <h5>
                            Thus in this way, this tool efficiently supports the sales automation tool function.
                        </h5>

                        <hr>
                        <h3>
                            <strong>Contact Management</strong>
                        </h3>
                        <h6>
                            <strong><small>How we manage our contacts</small></strong>
                        </h6>
                        <p>
                            This is much more than your Outlook's list of contacts.Over the years, sales management and contact management software have evolved as close-knit tools. It is vital in this age to have your contact information fully synchronized with your sales software.  
                        </p>
                        <p>
                            Here the behavior of your contacts is integrated with their names in the list, so you get a 360-degree view of his entire purchase history, likes, dislikes, preferences etc. This is a great guide in a go; it is like the social security in the U.S. On the press of a button, you get all the information on a certain customer to take the performance of your sales and customer service team many levels beyond.
                        </p>
                        <h5>
                            <strong>
                                An example of this is if you are selling life insurances and you are calling to discuss a new plan with your customer, wouldn't you like to know all about that person before you start a discussion with him?
                            </strong> 
                        </h5>
                        <hr>

                        <h3>
                            <strong>Sales Forecasting </strong>
                        </h3>
                        <h6>
                            <strong><small>How do you increase your sales?</small></strong>
                        </h6>
                        <p>
                            In your highly comprehensive and integrated CRM software, you can easily predict (to a high degree of accuracy) the future sales of your product.    
                        </p>
                        <p>
                            Since you have a robust infrastructure in terms of lead management, you can easily come to near accurate ballpark figures of your product's future sales and create necessary marketing and business plans according to that. 
                        </p>
                        <h5>
                            <strong>
                                For example: If you are in the book business, your pre-orders and your sales inquiries are going to be extremely important to you. Publishing costs are high per single copy. Hence, one has to keep the campaign running judiciously strictly as per your sales pipeline. 
                            </strong> 
                        </h5>

                        <hr>
                        <h3>
                            <strong>Invoice Management </strong>
                        </h3>
                        <h6>
                            <strong><small>Easy and convincing Invoice generation.</small></strong></h6>
                        <p>
                            This tool is going to save you from a future headache.Managing invoices is the most boring and monotonous part of being in business. With your CRM software, you can now raise bills and invoices automatically. Once your order is finalized, the software will generate your invoice as per the quotation. 
                        </p>
                        <p>
                            Once your order is finalized, the software will generate your invoice as per the quotation. 
                        </p>
                        <h5>
                            <strong>Your invoice management can be automated by your CRM system end-to-end. You can even set alerts and reminders for your invoice due dates. </strong> 
                        </h5>
                    </main>
                </div>
            </div>
            <div class="col-md-6">  
                <br><br>
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>
                                <strong>Lets Understand It With Diagram</strong>
                            </h3>
                        </div>
                        <hr>
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lead Management </h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Lead management is the first step of acquiring the customer. Once this step is completed, leads(a list of strong potential buyers with some of their details) is passed on to the Sales department.
                                            </p>
                                            <p>
                                                This is the process in which your company engages for the very first time and interacts with your buyer at a stage where he is just a potential buyer.This process often becomes challenging when your leads are in the numbers of thousands, lakhs and more.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title"> Opportunity Management </h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                The tool of Opportunity Management gives you the pearls of opportunities in sales. Pure leads are just basic information and that's meaningless unless it is filtered as per your company requirement.This analyzing and filtering job is done by this tool. It judges the leads and puts the qualified ones as an opportunity in the sales pipeline.  
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge danger">
                                        <i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Contact Management </h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                This is much more than your Outlook's list of contacts.Over the years, sales management and contact management software have evolved as close-knit tools. It is vital in this age to have your contact information fully synchronized with your sales software.  
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Sales Forecasting </h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                In your highly comprehensive and integrated CRM software, you can easily predict (to a high degree of accuracy) the future sales of your product. Since you have a robust infrastructure in terms of lead management, you can easily come to near accurate ballpark figures of your product's future sales and create necessary marketing and business plans according to that. 
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info">
                                        <i class="fa fa-save"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Invoice Management </h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                This tool is going to save you from a future headache. Managing invoices is the most boring and monotonous part of being in business. With your CRM software, you can now raise bills and invoices automatically. Once your order is finalized, the software will generate your invoice as per the quotation. Your invoice management can be automated by your CRM system end-to-end. You can even set alerts and reminders for your invoice due dates.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>