<form #customerForm="ngForm" novalidate (ngSubmit)="onRegister(customerForm)">
      <div class="card-body mx-4">
      <div class="text-center">
        <h3 class="dark-grey-text mb-5"><strong>Signup</strong></h3>
      </div>
       <div class="row">
        <div class="col-md-4">
          <div class="md-form input-field">
            <input type="text" #firstName="ngModel" class="form-control validate" id="firstName" [(ngModel)]="employee.firstName" [(ngModel)]="Customer.firstName" name="firstName" required pattern="[a-zA-Z]+">
            <label for="firstName">First Name</label>   
            <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                <div [hidden]="!firstName.errors.required">
                  First Name is required!
                </div>
                <div [hidden]="!firstName.errors.pattern">
                  Field contains only characters
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-form input-field">
            <input type="text" #middleName="ngModel" class="form-control" name="middleName"  id="middleName" [(ngModel)]="employee.middleName" [(ngModel)]="Customer.middleName" pattern="[a-zA-Z]+">
            <label for="Form-name2">Middle Name</label>
            <div *ngIf="middleName.errors && (middleName.dirty || middleName.touched)" class="alert alert-danger">
              <div [hidden]="!middleName.errors.pattern">
                Field contains only characters
              </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-form input-field">
            <input type="text" #lastName="ngModel" class="form-control validate" name="lastName"  id="lastName" [(ngModel)]="employee.lastName" [(ngModel)]="Customer.lastName" required pattern="[a-zA-Z]+">
            <label for="Form-name3">Last Name</label>
            <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                <div [hidden]="!lastName.errors.required">
                    Last Name is required!
                </div>
                <div [hidden]="!lastName.errors.pattern">
                  Field contains only characters
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md-form input-field">
        <input type="email"  class="form-control validate" name="email" #email="ngModel" id="email" [(ngModel)]="employee.email" [(ngModel)]="Customer.email" (change)="changeEmail(email.value)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
        <label for="Form-email1">Email</label>
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            <div [hidden]="!email.errors.required">
              Email is required!
            </div>
            <div [hidden]="!email.errors.pattern">
              Must be a valid Email!
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form input-field">
            <input type="text" class="form-control validate" name="userName" #userName="ngModel" id="userName" [(ngModel)]="employee.userName" [(ngModel)]="Customer.userName" [(ngModel)]="userAccount.userName" required pattern="[a-zA-Z]+[a-zA-Z0-9]*">
            <label for="Form-mbl">Username</label>
            <div *ngIf="userName.errors && (userName.dirty || userName.touched)" class="alert alert-danger">
                <div [hidden]="!userName.errors.required">
                   Username is required!
                </div>
                <div [hidden]="!userName.errors.pattern">
                  Username should start with character!
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form input-field">
            <input type="date" class="form-control validate" name="dateOfBirth"  #dateOfBirth="ngModel" id="dateOfBirth" [(ngModel)]="employee.dateofBirth" [(ngModel)]="Customer.dateofBirth" required>
            <div *ngIf="dateOfBirth.errors && (dateOfBirth.dirty || dateOfBirth.touched)" class="alert alert-danger">
                <div [hidden]="!dateOfBirth.errors.required">
                   Date of Birth is required!
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form input-field">
            <input type="number" class="form-control validate" maxlength="10" minlength="10" name="mobile" #mobile="ngModel" id="mobile"  [(ngModel)]="employee.mobile" [(ngModel)]="Customer.mobile" required> 
            <label for="Form-mbl">Mobile</label>
            <div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)" class="alert alert-danger">
                <div [hidden]="!mobile.errors.required">
                   Phone Number is required!
                </div>
                <div [hidden]="!password.errors.minlength">
                   It should be 10 digit long.
                </div>
                <div [hidden]="!password.errors.maxlength">
                   It should be 10 digit long.
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            Register As Admin
          <div class="md-form material-switch pull-right">
                <input type="checkbox" id="Form-check" name="isAdmin" [(ngModel)]="userAccount.isAdmin"/>
                <label for="Form-check" class="label-danger"></label>
          </div>
        </div>
      </div>
      <div class="md-form companyname input-field">
          <input type="text" id="Form-company1" class="form-control" name="companyid" [(ngModel)]="employee.companyid">
          <label for="Form-company1">Company Name</label>
        </div>
      <div class="md-form input-field">
        <input class="form-control validate" type="password"  name="password" #password="ngModel" id="password"  [(ngModel)]="employee.password" [(ngModel)]="Customer.password" [(ngModel)]="userAccount.password" required minlength="8" validateEqual="confirmPassword" reverse="true">
        <label for="Form-pass1">Password</label>
        <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
            <div [hidden]="!password.errors.required">
                password is required!
            </div>
            <div [hidden]="!password.errors.minlength">
                password must be at least 3 characters long.
            </div>
        </div>
      </div>
      <div class="md-form input-field">
          <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirm_password" #confirmPassword="ngModel" class="form-control validate" required validateEqual="password">
          <label for="Form-cnfpass">Confirm Password</label>
          <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
          <small [hidden]="confirmPassword.valid ||  
              (confirmPassword.pristine && !customerForm.submitted)">
                  Confirm password does not match!
          </small>
          </div>
      </div>
      <div>
        <button [disabled]="!customerForm.valid" type="submit" class="btn btn-primary">Register</button>
        <button type="button" class="btn btn-danger"  data-toggle="modal" data-dismiss="modal" data-target="#login">Already a Customer</button>
      </div>
    </div>
</form>            

